@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist), var(--font-anuphan), ui-sans-serif, system-ui, sans-serif;
  
  --color-onyx: #1A1A1A;
  --color-slate: #666666;
  --color-navy: #002147;
}

body {
  background-color: #FFFFFF;
  color: var(--color-onyx);
}
